@mixin clearfix() {
  &:after {
    display: block;
    content: ' ';
    clear: both;
  }
}

.search {
  input {
    background: #fff;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    color: $black;
    border: 0;
    outline: none;
    width: 100%;
    font-weight: 600;
    font-family: inherit;
    padding-left: 3rem;
  }

  .icon {
    position: absolute;
    display: inline-block;
    padding: 1.1rem 0.75rem 0.4rem 0.75rem;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.2);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.content {
  .block {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
    display: block;

    &[href]:hover {
      background: #fff;
    }

    &.half-block {
      width: calc(50% - 2.5px);
      float: left;

      &:nth-child(2n + 1) {
        margin-right: 2.5px;
      }

      &:nth-child(2n) {
        margin-left: 2.5px;
      }

      @media (max-width: 640px) {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100%;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .block-row {
    @include clearfix();
  }

  .service {
    @include clearfix();

    position: relative;
    padding: 0;
    min-height: 4rem;

    .img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 160px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $padding * 1.5;
    }

    .meta {
      float: right;
      width: calc(100% - 160px);
      padding: $padding * 1.5;

      .name {
        font-weight: bold;
      }
    }
  }

  .more-services {
    .button {
      margin-top: 1rem;
    }
  }

  .list-item {
    vertical-align: middle;

    a {
      display: block;
      padding: 1rem;
      font-weight: 600;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:hover {
        color: $purple;
        background: $white;
      }

      .arrow {
        float: right;
        width: 1.5rem;
        height: 1.5rem;
        color: rgba(0, 0, 0, 0.2);
      }

      .expires {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.7rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        margin-left: 0.5rem;
        background: red;
        color: #fff;
      }
    }

    &:first-child a {
      border-top: 0;
    }
  }

  h2 {
    font-size: 1.3rem;
    color: $purple;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  b, strong {
    font-weight: bold;
  }

  .red {
    color: red;
  }

  .notice {
    background: $purple;
    color: #fff;

    h3 {
      font-weight: bold;
      font-size: 1.25rem;
    }

    p {
      font-size: 0.85rem;
    }

    .button {
      margin-top: 1rem;
    }
  }
}

.with-mobile-padding {
  @media (max-width: 640px) {
    padding: $padding;
  }
}

.with-padding {
  padding: $padding * 2;
}

.text-center-desktop {
  @media (min-width: 641px) {
    text-align: center;
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}
