.search {
  input {
    background: #fff;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    color: $black;
    border: 0;
    outline: none;
    width: 100%;
    font-weight: 600;
    font-family: inherit;
    padding-left: 3rem;
  }

  .icon {
    position: absolute;
    display: inline-block;
    padding: 1.1rem 0.75rem 0.4rem 0.75rem;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.2);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.content {
  .block {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5px;

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .red {
      color: red;
    }
  }

  .list-item {
    vertical-align: middle;

    a {
      display: block;
      padding: 1rem;
      font-weight: 600;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:hover {
        color: $purple;
        background: $white;
      }

      .arrow {
        float: right;
        width: 1.5rem;
        height: 1.5rem;
        color: $purple;
      }

      .expires {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        margin-left: 0.5rem;
        background: red;
        color: #fff;
      }
    }

    &:first-child a {
      border-top: 0;
    }
  }

  .notice {
    background: $purple;
    color: #fff;

    h3 {
      font-weight: bold;
      font-size: 1.25rem;
    }

    p {
      font-size: 0.85rem;
    }

    .button {
      margin-top: 1rem;
    }
  }
}

.with-mobile-padding {
  @media (max-width: 640px) {
    padding: $padding;
  }
}

.with-padding {
  padding: $padding * 2;
}

.text-center {
  text-align: center;
}
